<?php
/**
 * This is an example secrets file. 
 * Copy this file to secrets.php and fill in your actual secrets.
 * DO NOT push secrets.php to GitHub.
 */

return [
    'gmail_app_password' => 'your-gmail-app-password-here',
];
